<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	
	<settings>
		<!-- 开启二级缓存 -->
		<setting name="cacheEnabled" value="true"/>
		
		<!-- 打开延迟加载 的开关 -->
    	<setting name="lazyLoadingEnabled" value="true"/>
    	
    	<!-- 将积极加载改为消极加载即按需要加载 -->
    	<setting name="aggressiveLazyLoading" value="false"/>
	</settings>
	
	<typeAliases >
		<typeAlias type="com.mqiy.model.User" alias="User"/>
		<typeAlias type="com.mqiy.model.UserLoginLog" alias="UserLoginLog"/>
	</typeAliases>

	<!--
	<mappers>-->
		<!--  单个映射文件配置
		<mapper resource="mapper/UserMapper.xml"/>
		-->
		
		<!--  多映射文件配置    mapper.java,mapper.xml必须都放在name属性指定的包中  -->
		<!--<package name="com.mqiy.mapper"/>
	</mappers>-->
	


</configuration>