<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mqiy.mapper.OrderMapper">

	<resultMap type="com.mqiy.command.OrderCommand" id="orderCommand">
		<id column="id" property="id" />
		<result column="number" property="orderNo"  />
		<result column="createtime" property="createTime" />
		<result column="note" property="note" />
		
		<association property="user" javaType="com.mqiy.model.User">
			<id column="user_id" property="id" />
			<result column="username" property="username" />
			<result column="bithday" property="birthday" />
			<result column="sex" property="sex" />
			<result column="address" property="address" />
		</association>
		
		<collection property="details" ofType="com.mqiy.model.OrderDetail">
			<id column="order_detail_id" property="id" />
			<result column="orders_id"   property="orderId" />
			<result column="items_id"    property="itemId" />
			<result column="items_num"   property="qty" />
		</collection>
	
	</resultMap>
	
	
	<resultMap type="com.mqiy.command.OrderCommand" id="lazyOrderCommand">
		<id column="id" property="id" />
		<result column="number" property="orderNo"  />
		<result column="createtime" property="createTime" />
		<result column="note" property="note" />
		
		<association property="user" column="user_id" javaType="com.mqiy.model.User" select="findUserById">
		</association>
	
	</resultMap>

	<select id="findOrderUser" parameterType="int" resultMap="orderCommand">
		select o.*,u.username,u.sex,u.address,od.id order_detail_id,od.orders_id,od.items_id,od.items_num
			from orders o 
				inner join user u on o.user_id = u.id 
				inner join orderdetail od on od.orders_id = o.id
					where o.id=#{value}
	</select>
	
	
	<select id="findOrdersUserLazyLoading" parameterType="int"  resultMap="lazyOrderCommand">
		SELECT * FROM orders where id=#{value}
	</select>
	
	<select id="findUserById" parameterType="int" resultType="com.mqiy.model.User">
	    SELECT * FROM  user  WHERE id=#{value}
	</select>

</mapper>