<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mqiy.mapper.UserLoginLogMapper">

	<resultMap type="UserLoginLog" id="userLoginLogMap">
		<id column="id" property="id" />
		<id column="user_id" property="userId" />
		<id column="login_date" property="loginDate" />
		<id column="login_ip" property="loginIp" />
	</resultMap>

	<sql id="condition">
		<if test="loginStartDate !=null">
			login_date > #{loginStartDate}
		</if>

		<if test="loginEndDate != null">
			<![CDATA[
				and login_date < #{loginEndDate}
			]]>
		</if>

		<if test="ips != null and ips.size >1 ">
			<!-- <foreach collection="ids" item="user_id" open="AND (" close=")" separator="or">每个遍历需要拼接的字符串 
				id=#{user_id} 
		    </foreach> -->
			<foreach collection="ips" item="user_id" open="and login_ip not IN("	close=")" separator=",">
				#{user_id}
			</foreach>
		</if>
	</sql>

	<select id="findByUserId" parameterType="int" resultMap="userLoginLogMap">
		select *
		from user_login_log where user_id=#{value}
	</select>


	<select id="findByCondition" parameterType="com.mqiy.condition.UserLoginLogCondition"
		resultMap="userLoginLogMap">
		select * from user_login_log
		<where>  <!-- where 可以自动去掉条件中的第一个and -->
			<include refid="condition" />
		</where>
	</select>

</mapper>